* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#user {
    font-size: larger;
}

#Heading {
    color: blue;
    letter-spacing: 2px;
}

#date {
    transform: translateY(400%);
    font-weight: 400;
    font-size: larger;
}

#DashboardOptionsBox {
    height: 400px;
    width: 100%;
}

#LogOutButton {
    width: 100px;
    height: 30px;
    background-color: rgba(255, 0, 0, 0.644);
    border: 0px;
    border-radius: 20px;
}

#LogOutButton:hover {
    background-color: red;
    color: white;
}

table {
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: auto;
    display: flex;
    min-width: fit-content;
    max-width: fit-content;

    min-height: fit-content;
    max-height: fit-content;
}

th {
    padding: 10px;
    border: 0px;
    border-radius: 15px;

}

th:hover {
    background-color: yellow;
}

td {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

td:hover {
    background-color: black;
    color: white;
}

tr:hover {
    background-color: pink;
}

#DarkModeBox {
    height: fit-content;
    padding: 10px;
    width: fit-content;
    background: yellow;
    border-radius: 20px;
}
